.srevices{
    background-image: url('../src/mac.png');
    background-position:center;
    background-repeat: no-repeat;
    background-position-x: 450px;
    background-position-y: 250px;
    background-size: 55%;
    height: 100vh;
    padding: 80px;
    

}

.srevices h1{
 color: #b4b4b4;
 text-align: center;

 margin-bottom: 40px;
}

.unactive-nav {
    color: #b4b4b4;
    display: block;
}
.unactive-nav:hover{
    color: #b4b4b4;
}


.active-nav {
    border-top:solid #b69b67 2px;
    font-size: 40px;
}


.serv-menu{
    line-height:60px;
    color: #b4b4b4;
}

.info-block{
    margin-top: 30px;
}