.srevices{

    height: 100vh;
    padding: 30px;
    

}

.srevices h1{
 
 margin-bottom: 30px;
}

.unactive-nav {
    color: #b4b4b4;
    
}



.active-nav {
    border-top:solid #b69b67 2px;
    font-size: 35px;
    color: #b69b67;
}


.serv-menu{
    line-height:60px;
    color: #b4b4b4;
}

.info-block{
    margin-top: 30px;
    background-position: absolute;
    background-image: url('../src/mac.png');
    background-position: 20% 0%;
    background-repeat: no-repeat;
    height: 120%;
    background-size: 90%;

}